<div class="card">
    <a ng-href="{{place.id}}">
        <img class="card-img-top" ng-src={{place.image}}  alt="Card image cap">
     </a>
       <a ng-href="{{place.id}}"></a> 
        <div class="card-block">
          <h4 class="card-title">{{place.name}}</h4>
            <div class="content">
              <p class="card-text">
              <strong>Tipo de cocina: </strong>{{place.type}} <br>
              <strong>Precio medio: </strong>{{place.precio}}<br>
              <strong>Citado en: </strong>{{place.blog}}<br>
              <strong>Dirección: </strong>{{place.direccion}}<br>
              <strong>Contacto: </strong>{{place.contact}}<br>
              <strong>Web: </strong>{{place.web}}<br>
              <strong>Social: </strong>{{place.socialinsta}}, {{place.socialface}}, {{place.socialtwitter}}<br>
              </p>
              </div>
        </div>
    </div>



