<div class="appt column is-3">
  <div class="actualizacion-card-group">
 
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" ng-src="{{place.image}}">
        <div class="card-block">
          <h3 class="card-title"><strong>{{place.blog}}</strong></h3>
          <p class="card-text">Conocemos y probamos muchos, y trabajamos para dar difusión a los proyectos gastronómicos que más nos llaman la atención (todo lo que encontrarás en nuestra web lo hemos probado antes, sin excepción).</p>
          <a ng-href="{{place.web}}"></a><small class="text-muted">{{place.web}}</small></p>
      </div>
    </div>
  </div>

</div>

</div>


