
<section class="hero">

    <section class="navigation">
        <header>
             <div class="header-content">


                 <div class="header-nav">
                        <nav>             

                            <ul class="primary-nav">

                                
                                <li><a href="index.html">HOME</a></li>
                                <li><a href="index2.html">DESTACADOS</a></li>
                                <li><a href="index1.html">MAPA</a></li>
                                
                            </ul>
                            <ul class="member-actions">


                                <li><a href="#" class="login" data-toggle="modal" data-target="#myModal">Log in</a></li>
                                <li><a href="#" class="btn-white btn-small" data-toggle="modal" data-target="#myModal">Sign up</a></li>

                            </ul>
                        </nav>
                    </div>              
            </div>

        </header>
    </section>
    </section>

