
<div class="container">
  <!-- Trigger the modal with a button -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">INICIA SESIÓN</h4>
        </div>
        <div class="modal-body">
         	<p>Introduce tus datos</p>
             <label for="nombre">Nombre</label><br />
             <input id="nombre" name="nombre"/><br /><br />
             <label for="mail">Dirección de correo</label><br />
             <input id="mail" name="direccion"/><br /><br />
             <button type="button" class="btn btn-default" data-dismiss="modal">Iniciar sesión</button> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>  
</div>
